body {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #F1F1F3;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem;
    margin:4%;
    margin-bottom: 0px;
  }
  header h3{
    font-size: 1.5rem;
    color: #0a0a0a;
  }
  .sign-in-btn {
    font-family: "Fira Sans", serif;
    font-weight: bold;
    color:#006A50;
    border: 2px solid #006A50;
    padding: 12px 25px;
    border-radius: 6px;
    cursor:default;
  }
  .sign-in-btn:hover { 
    background-color: whitesmoke;

  }
  
  .hero-section {
    display: flex; 
    justify-content:center;
    background-color:#C6E4D6;
    padding: 30px;
    gap: 0px;
    border-radius: 10px;
    margin-left: 70px;
    margin-right: 70px;
    
  }
   
  .text-content {
    flex: 1; /* Allow content to take space */
    padding-right: 20px;
    line-height: 1.6;
    margin-left: 10px;
    margin-bottom: 50px;
  }
  
  .hero-section h5 {
    margin-bottom: 3px;
    margin-top: 58px;
    font-weight: bold;
    font-size: medium;
    color: #605c5c;
  }
  
  .hero-section p {
    font-size: 2.5rem;
   font-weight:bolder;
   margin-top: 2px;
   margin-bottom: 5%;
  color: #191414;
  line-height: 1.4;
  }
  
  .explore-btn {
    background-color: #006A50;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 1px;
  
  }
  .explore-btn:hover {
    background-color: #878398;
  }
  
  .image-container {
    margin-top: -20px; /* Adjust the value as needed to move the image up */
    flex: 1; /* Ensure equal space with text-content */
    text-align: right;
  }
  
.image-container img {
  max-width: 100%; /* Ensure image fits within its container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: rounded corners */
}
  
.opinion-section {
  color:black;
  margin-left: 60px;
  font-size: 1.3rem;
  margin-bottom: -65px;
  margin-top: 50px;
}


.container45 {
  display: flex;
  max-width: 1200px;
  margin: 50px auto;
  background-color: #FFFFFF;
  padding: 40px;
  margin-top: 90px;
  margin-left: 60px;
  margin-right: 55px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}



table {
  outline: 1px solid black;
  width: 100%;
  border-collapse: collapse;
  margin-left: -3px;
  margin-right: -3px;
  border: #0a0a0a;
}
 

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #d1e7dd;
  color: #333;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #d1e7dd;
  color: #333;
}

.container33 {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.pillars {
  text-align: center;
  margin-bottom: 40px;
  margin-left: 7px;
margin-right: 35px;
  
}

.pillars h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 60px;
  text-align: justify;
}

.pillars-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 60px;
}

.pillar-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pillar-card img {
  width: 50px;
  margin-bottom: 10px;
}

.pillar-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.pillar-card p {
  color: #555;
}


.vision {
  margin-bottom: 40px;
}

.vision h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.vision p {
  margin-bottom: 20px;
  color: #555;
}

.vision-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.vision-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  min-height: 300px; 
}

.vision-card img {
  width: 50px;
  margin-bottom: 10px;
}

.vision-card h5 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: black;
}

.vision-card p {
  margin-bottom: 20px;
}

.vision-card button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

}
.vision-card button:hover {
  background: rgba(0, 0, 0, 0.2);
}
.vision-card.blue {
  background: #8abafd;
}
.blue-1{
  background: #5490F5;
}
.vision-card.green {
  background: #C6E4D6;
}
.green-1{
  background: #09A15C;
}

.vision-card.yellow {
  background: #F7EBCF;

}
.yellow-1{
  background: #FFC239;
}

.quote {
  margin-top: 10px;
  padding: 20px;
  background: #fff;
  flex-direction: row;
  border-radius: 8px;
  line-height: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.quote blockquote {
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 0px;
  padding: 0;
}

.quote blockquote p {
  vertical-align: baseline;
  margin-bottom: 5px;
  color: black;
  margin-top: -40px;
  line-height: 22px;
  gap: 0px;

}
.quote blockquote span {
  font-weight:normal;
  font: size 10px;
  color: rgb(133, 130, 130);
  text-align:left;
 
}
.quote-bg {
 /* Adjust size as needed */
  height: auto;
  display:flex;
  margin-top: 2px;
}
.news-section {
   width: 70%; 
   margin: 0 auto; 

}
    .news-section h1 { 
      font-size: 2em; 
      margin-bottom: 10px;
      text-align: left; 
      margin-left: -120px;
} 
.news-section p {
   font-size: 1em;
    margin-bottom: 20px;
    text-align: left;
    margin-left: -120px;
     } 
   
     .news-article {
       display: flex; 
       margin-bottom: 20px;
       margin-right: -130px;
       margin-left: -130px;
       padding: 40px; 
       background-color: #f9f9f9;
        border: 1px solid #ddd;
         border-radius: 10px; 
        } 

        .news-article img {
           width: 300px; 
           height: 220px;
           margin-right: 20px; 
           border-radius: 12px;
           margin-bottom: -20px;
           margin-top: 40px;
           align-items: center;

        } 
        
          .news-content { 
            flex: 1;
            margin-top:-23px;
    
           } 
            .news-content h2 { 
              font-size: 1.5em; 
              margin-bottom: 10px; 
              margin-top: 58px;
            } 
          
            .news-meta { 
              display: flex; 
              align-items: center; 
              margin-bottom: 10px; 
              margin-top: -50px;
            } 
            .news-meta img {
              width: 120px; 
              height: auto; 
              size: 100px;
              margin-bottom: 90px;
              margin-right: 10px;
              margin-left: -5px; 
            }
             

               .news-meta span { 
                font-size: 0.9em;
                 color: #777;
                 margin-left: -127px;
                 margin-top: 20px;
                 } 

                 .news-content p {
                   font-size: 1em;
                    color: #333; 
                    margin-bottom: 10px;
                  margin-left: 3px;
                  margin-top: -55px;
                  margin-bottom: 30px;
                 }
                    .news-content button {
                      padding: 10px 20px;
                      background-color: #006A50;
                      color: #fff;
                      border: none;
                      border-radius: 5px;
                      cursor:pointer;
                      margin-bottom: -50px;
                      margin-top: -20px;
                    }

                    .news-content button:hover {
                      background-color: #d4bdb2;
                    }

                    .news-article.right-image {
                      flex-direction: row-reverse;
                  
                    }

                    .news-article-right-image img {
                      margin-right: 0;
                      margin-left: 20px;
                      margin-bottom: -70px;
                    }



        .donate-section {
            text-align: center;
            margin: 40px 0;
            padding: 10px;
        }

        .donate-section h2 {
            margin: 0 0 20px;
            font-size: 28px;
            color: #333;
        }

        .donate-section p {
            font-size: 16px;
            color: #555;
            margin-bottom: 20px;
        }

   

        .donate-button {
          padding: 20px;
          border: 2px solid #d8dad9;
          font-size: 26px;
          border-radius: 10px;
          font-weight: bold;
          cursor: pointer;
          transition: background-color 0.3s;
          background-color: #FFFFFF;
          gap: 10px;
          margin: 10px;
        }

        .donate-button:hover {
            background-color:burlywood;
        }

        .donate-button2 {
          padding: 20px;
          border: 2px solid #d8dad9;
          font-size: 26px;
          font-weight: bold;
          border-radius: 10px;
          cursor: pointer;
          transition: background-color 0.3s;
          background-color: #C6E4D6;
          gap: 10px;
          margin: 10px
      }
      .donate-button2:hover {
          background-color: #e7e6eb;
      }
        .custom-donation {
            padding: 15px; /* Increased padding */
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 20px;
            width: 640px;
            text-align: center;
        }

        .donate-now {
            margin-top: 30px;
            padding: 20px;
            width: 150px;
            background-color: #006A50;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 18px; /* Increased font size */
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.3s;
        }

        .donate-now:hover {
            background-color: #a4c5e7;
        }
  

        .newsletter-section {
          background-color: #C6E4D6;
          display: flex;
          text-align: center;
          align-items: center;
          background-color: #d9efe3;
          padding: 2rem;
          border-radius: 10px;
          margin-left: 300px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          max-width: 600px;
      }
      
      .newsletter-content {
         max-width: 1880px;
          text-align: center;
          padding: 20px;
    margin-left: 56px;
    margin-right: 60px;
      }
        
      
      .newsletter-title {
          font-size: 28px;
          font-weight: bold;
          color: #111212;
          margin-right: 30px;
      }
      
      .newsletter-description {
          font-size: 16px;
          color: #333;
          margin-right: 30px;
      }
      
      .newsletter-form {
        display: flex;
        justify-content: center;
        width: 480px;
        align-items: center;
        margin-bottom: 1rem;
        
      }
      
      .newsletter-input {
          flex: 1;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 7px;
          font-size: 14px;
      }
      
      .newsletter-button {
          padding: 10px 20px;
          background-color: #006A50;
          color: white;
          border: none;
          border-radius: 3px;
          font-size: 14px;
          cursor: pointer;
          margin-left: -5px;
          margin-right: 40px;
          transition: background-color 0.3s;
      }
      
      .newsletter-button:hover {
          background-color: #87dde7;
      }
      .newsletter-note {
          font-size:small;
          color: #333;
          margin-top: 10px;
          margin-left: -40px;
      }
  
      /* Footer */
      .footer-section {
          text-align: center;
          align-items: center;
          padding: 20px;
          background-color: #eeeeee;
          margin-top: 0px;
          margin-top: 100px;
      }
      
      .footer-title {
          font-size: 20px;
          margin-bottom: 20px;
          font-weight: bold;
          color: #333;
      }
    
      .social-icons {
          display: flex;
          margin-top: 10px;
          gap: 15px;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          transition: color 0.3s;
        

      }
      
    